---
import type { Props } from "@astrojs/starlight/props";
import Default from "@astrojs/starlight/components/Footer.astro";
const year = new Date().getFullYear();

import Def from "starlight-blog";
---

<Default {...Astro.props}><slot /></Default>

<hr />

<p>&copy; {year} Stellaris Mod Group. Copyright Reserved.</p>

<p>
    Powered By
    <a href="https://astro.build/" target="_blank">Astro</a>
     /
    <a href="https://starlight.astro.build/" target="_blank">StarLight</a>
</p>

<style>
    p {
        text-align: center;
        color: var(--sl-color-gray-2);
        font-size: var(--sl-text-sm);
    }
    hr {
        border: 0;
        border-bottom: 1px solid var(--sl-color-hairline);
    }
</style>

<style is:global>
    code {
        white-space: break-spaces;
        overflow-wrap: normal;
    }
</style>
